<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generar tokens</title>
</head>
<body>
    <a href="https://dev-c6aj47u9.us.auth0.com/authorize?response_type=code&client_id=VTRYtW6UZXFPORfsIH6Ff23Q1cITNvqZ&redirect_uri=http://localhost:3000&scope=appointments%20contacts%20openid%20profile&audience=platziMasterApiApi&state=xyzABC123">
      Ingresar
    </a>
    <p>authorizationCode: <%= authorizationCode %></p>
    <p>authorizationCodeRes: <%= authorizationCodeRes %></p>
</body>
</html>
